
.main-div{

    width: 300px;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
 position: relative;
 margin-top: 10px;
 /* overflow: auto; */
    /* margin: auto; */
    /* -webkit-transform: translate(0%, 35%); */

 }
.tab{
   position: relative;
    top: -403px;
    right: 43px;
    color: brown;

}

.f{
 
   /* border:1px solid black; */
  
}
 .form-div{
    width: 550px;
    height: auto;
    border:1px solid black ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #ff7f7f;
    position: relative;
    padding: 15px;
    color: aliceblue;

 }
 .head{
    position: absolute;
    top: -8px;
    font-size: 20px;
    font-weight: 700;
    /* color: bisque; */
    /* border: 1px solid red; */
    padding: 10px 5px 10px 10px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
 }
 .sub{
   display: flex;
   /* border: 1px solid red; */
   align-items: center;
   justify-content: center;
 }


 .table-cont{
   /* border: 1px solid red; */
   height: auto;
   display: flex;
   flex-direction: column;
   margin-top: 20px;

 }
 .table-start{
   width: 90%;
   border: 1px solid rgb(241, 17, 17);
   background-color: antiquewhite;
   height: 500px;
   border-radius: 10px;


 }